*/output.mdx
*/output.skel.mdx
*/output.html
*/output.mdx.diff
*/output.reverse-sync.diff.yaml
*/output.reverse-sync.mapping.original.yaml
*/output.reverse-sync.mapping.patched.yaml
*/output.reverse-sync.patched.xhtml
*/output.reverse-sync.result.yaml
*/output.beautify-diff
*/output/
*/output-images/
